/* PaginaDino ==> menu */
body,
html {
  padding: 0px;
  margin: 0px;
}
.header {
  background-color: #f7f7f7;
}
.header-center {
  max-height: 74px;

  max-width: 1820px;
  /* background-color: yellow; */
  justify-content: space-between;
  margin: auto;
  display: flex;
  padding: 10px 0px;
}
.a-1 span {
  margin-left: 10px;
}
.img-1 {
  width: 190px;
}
.img-2 {
  margin-top: 15px;
  width: 30px;
  height: 25px;
  margin-left: 40px;
  /* background-color: goldenrod; */
}
.input-1 {
  border-radius: 40px;
  width: 540px;
  height: 40px;

  border: 1px solid #7300e0;
}
.input-1::placeholder {
  padding-left: 20px;
  font-size: 15px;
}

.main-1 a {
  margin-top: 5px;
}
.main-1 {
  margin-left: 9px;
  width: 340px;
  height: 426px;
  border-style: ridge;
  box-shadow: 0 0 14px rgb(225 229 227);
  border-radius: 8px;
  display: contents;
}

.main-2 {
  /* background-color: red; */
  width: 700px;
  display: flex;
  margin-right: 830px;
  margin-left: 69px;
}
.main-2 svg path {
  fill: #7300e0;
}

.main-2 svg {
  width: 35px;
  margin-top: 3px;
  margin-left: 513px;
  position: absolute;
}
.search {
  width: 27px;
  height: 20px;
  margin-top: 15px;
  position: absolute;
  margin-left: 510px;
}

.main-3 {
  /* background-color: green; */
  width: 150px;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  margin-left: -69px;
}
.main-3 img {
  width: 35px;
  height: 35px;
}

.main-3 span {
  margin-top: 14px;
}
.wrapper {
  /* background-color: red; */
  display: flex;
  margin: auto;

  display: block;
}
/* PaginaDino ==> cuerpo */
.searchs {
  /* background-color: yellowgreen; */
  max-width: 1820px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 43px;
}
.img-dino {
  /* background-color: rgb(221, 16, 16); */

  /* height: 425px; */
  display: flex;
  margin-bottom: 13px;
}
.dino-1 {
  width: 200px;
  margin-left: 61px;
  margin-top: 1px;
}
.mainn-1 {
  /* background-color: aqua; */
  margin-left: 9px;
  width: 340px;
  height: 426px;
  /* border-style: ridge; */

  box-shadow: 0 0 20px rgb(219, 220, 219);
}

.a-1 span {
  color: #7300e0;
  text-decoration: none;
  /* background-color: blue; */
  margin-top: 8px;
}
.a-1 {
  /* background-color: #7300e0; */
  display: flex;
}
.a-1 svg path {
  fill: #7300e0;
}
.a-1 svg {
  width: 28px;
  margin-left: 57px;
  height: 35px;
  /* margin-top: 8px; */
}

.discount-offer {
  background-color: #7300e0;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 7px;
  position: relative;
  width: 50px;
  margin-left: 196px;
}
.discount-offer::after {
  content: "";
  position: absolute;
  left: -6px;
  top: 9px;
  border: 4px solid #00000000;
  border-right-color: #7300e0;
  border-left: none;
  border-top-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
}

.name-title h1 {
  /* margin-top: -75px; */
  margin: auto;
  margin-top: 52px;
  max-width: 1820px;
  text-align: center;
}
.text-dino {
  margin-top: 24px;
  margin-left: 12px;
}
.text-dino span {
  font-size: 14px;
  color: #828282;
}
.text-dino p {
  padding-right: 41px;
  margin-top: 10px;
  font-size: 15px;
}
.almacen {
  display: flex;
  margin-left: 12px;
  margin-top: 55px;
  color: #7300e0;
}
.almacen span {
  font-size: 25px;
  font-weight: bold;
}
.almacen sup {
  font-weight: bold;
  font-size: 15px;
}

/* EvenClickimg-cssDescripcion ==> siguiente */
.container {
  /* background-color: red; */
  max-width: 1820px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 67px;
  position: relative;
  /* height: 870px; */
}
.picture-box {
  /* background: pink; */
  width: 700px;
  display: flex;
}

.picture-box img {
  width: 620px;
  height: 630px;
}
.grouped-text {
  /* background-color: aqua; */
  margin: auto;
  max-width: 100%;
  margin-left: 41px;
}
.grouped-text::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  background: #dddddd;
  bottom: 0;
  right: 0px;
}
.grouped-text .dino-title {
  /* display: block;

  font-size: 18px !important;
  color: #4f4f4f;
  text-transform: uppercase;
  margin-top: 0;
  text-align: left;
  font-size: 18px;
  font-family: Circular Pro Regular; */
  color: #54575a;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.dino-title {
  font-family: Circular Pro Regular;
}
.grouped-text h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-top: 38px;
}
.grouped-text .titleone {
  font-weight: 450;
  font-size: 17px;
  color: #4f4f4f;
  font-family: Circular Pro Regular;
  font-feature-settings: "ss02" on;
  /* background-color: brown; */
  /* display: block;
  margin-top: 50px; */
  /* display: absolute; */
  margin-top: 40px;
  display: block;
}

.parrafo strong {
  margin-right: 6px;
  margin-left: 6px;
}
.text-separation .parrafo {
  display: flex;
  padding: 10px 0px;
  margin-top: 42px;
}
.text-separtion strong {
  padding: 0px 7px;
}
.discount {
  display: flex;
}
.discount .parrafo-2 {
  margin-top: 0px;
}
.discount-off {
  background-color: #7300e0;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 7px;
  position: relative;
  width: 50px;
  /* margin-left: 196px; */
}
.discount-off::after {
  content: "";
  position: absolute;
  left: -6px;
  top: 9px;
  border: 4px solid #00000000;
  border-right-color: #7300e0;
  border-left: none;
  border-top-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
}
.line-5 {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
}
.line-5 h2 {
  /* background-color: red; */
  font-size: 18px;
  color: #54575a;
}
.line-5 .line-precio {
  margin-top: 25px;
}

.descont-offer {
  background-color: #7300e0;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  height: 23px;
  display: flex;
  align-items: center;
  padding: 0px 0px;
  position: relative;
  margin-right: 4px;
  margin-top: -2px;
  font-size: 14px;
  /* display: flex; */
  width: 46px;
  margin-left: 17px;
}
.descont-offer::after {
  content: "";
  position: absolute;
  left: -6px;
  top: 6px;
  border: 4px solid #00000000;
  border-right-color: #7300e0;
  border-left: none;
  border-top-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
}

.line-precio {
  margin-left: 880px;
  color: #7300e0;
  font-weight: bold;
  font-size: 20px;
  display: flex;
}
.line-6 {
  margin-top: 30px;
  display: flex;
}
.line-6 a {
  margin-top: 9px;
  color: #54575a;
  font-size: 18px;
  text-decoration: underline;
}
.line-7 {
  margin-top: 30px;
}
.line-7 h2 {
  margin: 0;
  font-size: 18px;
}
/* 
.line-9 {
  display: flex;
  margin-top: 5px;
}
.padre-telefono-numero {
  background-color: #fafafa;
  color: white;
  font-weight: 600;
  border-radius: 26px;
  height: 78px;

  align-items: center;

  position: relative;
  margin-right: 9px;

  display: flex;
  width: 100%;
  border-color: rgba(189, 189, 189, 0.734);
  border-width: 1px;
  border-style: solid;
}
.padre-whapp-numero svg {
  margin-left: 18px;
  fill: #7300e0;
}
.padre-whapp-numero a {
  margin-top: 6px;
  margin-left: 19px;
  text-decoration: none;
  color: #85858d;
} */

/* lineaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 9 */
.line-8 {
  display: flex;
  margin-top: 5px;
}
/* .padre-whapp-numero {
  background-color: #fafafa;
  color: white;
  font-weight: 600;
  border-radius: 26px;
  height: 78px;

  align-items: center;

  position: relative;
  margin-right: 9px;

  display: flex;
  width: 100%;
  border-color: rgba(189, 189, 189, 0.734);
  border-width: 1px;
  border-style: solid;
}
.padre-telefono-numero svg {
  margin-left: 18px;
  fill: #7300e0;
}
.padre-telefono-numero a {
  margin-top: 6px;
  margin-left: 19px;
  text-decoration: none;
} */

/* detailssssssssssssssss */
.line-9 {
  display: flex;
  margin-top: 10px;
}
.line-9 a {
  color: #54575a;
  font-size: 15px;
}
.padre-telefono-numero {
  background-color: #fafafa;
  color: white;
  font-weight: 600;
  border-radius: 26px;
  height: 78px;

  align-items: center;

  position: relative;
  margin-right: 22px;

  display: flex;
  width: 100%;
}
.padre-whapp-numero svg {
  margin-left: 18px;
  fill: #7300e0;
}
.padre-whapp-numero a {
  /* margin-top: 6px; */
  margin-left: 15px;
  /* text-decoration: none; */
}

/* lineaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 9 */
.line-8 {
  display: flex;
  margin-top: 7px;
}
.line-8 a {
  color: #85858d;
  font-size: 15px;
}
.padre-whapp-numero {
  background-color: #fafafa;
  color: white;
  font-weight: 600;
  border-radius: 26px;
  height: 78px;

  align-items: center;

  position: relative;
  margin-right: -11px;

  display: flex;
  width: 100%;
  border-color: rgba(189, 189, 189, 0.734);
  border-width: 1px;
  border-style: solid;
}
.text-decoration-underline {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}

.padre-whapp-numero .elegir {
  color: black;
}

.padre-telefono-numero svg {
  margin-left: 13px;
  fill: #7300e0;
}
.padre-telefono-numero a {
  /* margin-top: 6px; */
  margin-left: 14px;

  color: #85858d;
}
.margin-top {
  margin-top: 10px;
}
.padre-telefono-numero .elegir {
  color: black;
}
.elegir {
  text-decoration: none;
  margin-top: 10px;
}
.padre-telefono-numero {
  border-color: rgba(189, 189, 189, 0.734);
  border-width: 1px;
  border-style: solid;
  margin-right: -11 px;
}
/* detailssssssssssssssss */

.details {
  background-color: orange;
}

.color-caract {
  background-color: #f5f5ff;

  font-weight: 600;
  border-radius: 10px;
  height: 66px;
  align-items: center;

  position: relative;
  margin-right: 22px;

  display: flex;
  width: 100%;
}
.color-caract h2 {
  margin-left: 22px;
}

.color-peso {
  background-color: #f5f5ff;

  font-weight: 600;
  border-radius: 10px;
  height: 47px;
  align-items: center;

  position: relative;
  margin-right: 22px;

  display: flex;
  width: 100%;
}

.color-peso h2 {
  margin-left: 22px;
  margin-bottom: 0px 0px;
  display: block;
  padding: 0px 0px;
}

.two-part {
  /* background-color: red; */
  /* max-width: 1820px; */
}
.conteiner-grouptext {
  max-width: 1820px;
  margin: auto;
  /* display: flex; */
}
.two {
  color: #54575a;
}
.parrafo strong {
  font-weight: bold;
}
.backgr-white {
  background-color: #f7f7f7;
}
.alination {
  display: flex;
  width: 1775px;
}
.lines-1 {
  /* gap: 300px; */
  padding: 22px;
  width: 40%;
}
.lines-2 {
  /* gap: 300px; */
  padding: 22px;
  width: 100%;
}
.backgr-plom {
  background-color: #ffffff;
}
.title-two h1 {
  width: 1775px;
  text-align: center;
  font-family: Circular Pro Bold;
  font-style: normal;
  font-weight: 400;

  color: #4f4f4f;
  margin: 18px 0 10px;
}
.title-two {
  margin-top: 100px;
}
.title-two h2 {
  width: 1775px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: #f5f5ff;
  border: 1px solid #fafafa;
  box-shadow: 0 4px 4px rgb(58 57 57 / 5%);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  color: #7300e0;
}
