@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Rajdhani:wght@500;600;700&display=swap");

/* PaginaDino ==> menu */
body,
html {
  padding: 0px;
  margin: 0px;
}

.header {
  background-color: #f7f7f7;
}
.header-center {
  /* max-height: 74px; */
  height: 50px;
  max-width: 2000px;
  /* background-color: yellow; */
  justify-content: space-between;
  margin: auto;
  display: flex;
  padding: 10px 0px;
}
.a-1 span {
  margin-left: 10px;
}
.img-1 {
  width: 213px;
  margin-top: 2px;
  margin-left: -17px;
}
.img-2 {
  margin-top: 15px;
  width: 30px;
  height: 25px;
  margin-left: 40px;
  /* background-color: goldenrod; */
}
.input-1 {
  border-radius: 40px;
  width: 540px;
  height: 45px;

  border: 1px solid #7300e0;
}
.input-1::placeholder {
  padding-left: 20px;
  font-size: 15px;
}

.main-1 a {
  margin-top: 5px;
  margin-left: 39px;
}
.main-1 {
  margin-left: 9px;
  width: 340px;
  height: 426px;
  border-style: ridge;
  box-shadow: 0 0 14px rgb(225 229 227);
  border-radius: 8px;
  display: contents;
}

.main-2 {
  /* background-color: red; */
  width: 700px;
  display: flex;
  margin-right: 830px;
  margin-left: 69px;
}
.main-2 svg path {
  fill: #7300e0;
}

.main-2 svg {
  width: 35px;
  margin-top: 3px;
  margin-left: 505px;
  position: absolute;
}
.search {
  width: 27px;
  height: 20px;
  margin-top: 15px;
  position: absolute;
  margin-left: 510px;
}

.main-3 {
  /* background-color: green; */
  width: 150px;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  /* margin-left: -69px; */
}
.main-3 img {
  width: 35px;
  height: 35px;
}

.main-3 a {
  margin-top: 14px;
  text-decoration: none;
  color: black;
}
.wrapper {
  /* background-color: red; */
  display: flex;
  margin: auto;

  display: block;
}
/* PaginaDino ==> cuerpo */
.searchs {
  /* background-color: yellowgreen; */
  max-width: 1820px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 29px;
}
.img-dino {
  /* background-color: rgb(221, 16, 16); */
  /* height: 425px; */
  display: block;
  margin-bottom: 13px;
  /* flex-basis: calc(100% / 5); */
  width: calc(100% / 5);
}
.dino-1 {
  width: 200px;
  /* margin-left: 61px; */
  margin-top: 1px;
  margin: auto;
  /* text-align: center; */
  display: block;
}
.mainn-1 {
  /* background-color: aqua; */
  margin-left: 9px;

  height: 426px;
  /* border-style: ridge; */
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(219 220 219);
}

.a-1 span {
  color: #7300e0;
  text-decoration: none;
  /* background-color: blue; */
  margin-top: 16px;
}
.a-1 {
  /* background-color: #7300e0; */
  display: flex;
}
.a-1 svg path {
  fill: #7300e0;
}
.a-1 svg {
  width: 28px;
  margin-left: 35px;
  height: 35px;
  margin-top: 8px;
}

.discount-offer {
  background-color: #7300e0;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  height: 28px;
  display: flex;
  align-items: center;
  padding: 0px 1px;
  position: relative;
  width: 50px;
  margin-left: 196px;
}
.discount-offer::after {
  content: "";
  position: absolute;
  left: -6px;
  top: 9px;
  border: 4px solid #00000000;
  border-right-color: #7300e0;
  border-left: none;
  border-top-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
}
/* Formato de documentacion de titulo */
.name-title h1 {
  /* margin-top: -75px; */
  margin: auto;
  margin-top: 52px;
  max-width: 1820px;
  text-align: center;
  color: #54575a;
  /* font-weight: 600; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.text-dino {
  margin-top: 24px;
  margin-left: 12px;
}
.text-dino span {
  font-size: 14px;
  color: #828282;
}
.text-dino p {
  padding-right: 41px;
  margin-top: 10px;
  font-size: 15px;
}
.almacen {
  display: flex;
  margin-left: 12px;
  margin-top: 55px;
  color: #7300e0;
}
.almacen span {
  font-size: 25px;
  font-weight: bold;
}
.almacen sup {
  font-weight: bold;
  font-size: 15px;
}

/* EvenClickimg-cssDescripcion ==> siguiente */
.container {
  /* background-color: red; */
  max-width: 1820px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 67px;
  position: relative;
  /* height: 870px; */
}
.picture-box {
  /* background: pink; */
  width: 700px;
  display: flex;
}

.picture-box img {
  width: 620px;
  height: 630px;
}
.grouped-text {
  /* background-color: aqua; */
  margin: auto;
  max-width: 100%;
  margin-left: 41px;
}
.grouped-text::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  background: #dddddd;
  bottom: 0;
  right: 0px;
}
.grouped-text .dino-title {
  /* display: block;

  font-size: 18px !important;
  color: #4f4f4f;
  text-transform: uppercase;
  margin-top: 0;
  text-align: left;
  font-size: 18px;
  font-family: Circular Pro Regular; */
  color: #54575a;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.dino-title {
  font-family: Circular Pro Regular;
}
.grouped-text h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-top: 38px;
}
.grouped-text .titleone {
  font-weight: 450;
  font-size: 17px;
  color: #4f4f4f;
  font-family: Circular Pro Regular;
  font-feature-settings: "ss02" on;
  /* background-color: brown; */
  /* display: block;
  margin-top: 50px; */
  /* display: absolute; */
  margin-top: 40px;
  display: block;
}

.parrafo strong {
  margin-right: 6px;
  margin-left: 6px;
}
.text-separation .parrafo {
  display: flex;
  padding: 10px 0px;
  margin-top: 42px;
}
.text-separtion strong {
  padding: 0px 7px;
}
.discount {
  display: flex;
}
.discount .parrafo-2 {
  margin-top: 0px;
}
.discount-off {
  background-color: #7300e0;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 7px;
  position: relative;
  width: 50px;
  /* margin-left: 196px; */
}
.discount-off::after {
  content: "";
  position: absolute;
  left: -6px;
  top: 9px;
  border: 4px solid #00000000;
  border-right-color: #7300e0;
  border-left: none;
  border-top-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
}
.line-5 {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
}
.line-5 h2 {
  /* background-color: red; */
  font-size: 18px;
  color: #54575a;
}
.line-5 .line-precio {
  margin-top: 25px;
}

.descont-offer {
  background-color: #7300e0;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  height: 23px;
  display: flex;
  align-items: center;
  padding: 0px 0px;
  position: relative;
  margin-right: 4px;
  margin-top: -2px;
  font-size: 14px;
  /* display: flex; */
  width: 46px;
  margin-left: 17px;
}
.descont-offer::after {
  content: "";
  position: absolute;
  left: -6px;
  top: 6px;
  border: 4px solid #00000000;
  border-right-color: #7300e0;
  border-left: none;
  border-top-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
}

.line-precio {
  margin-left: 880px;
  color: #7300e0;
  font-weight: bold;
  font-size: 20px;
  display: flex;
}
.line-6 {
  margin-top: 30px;
  display: flex;
}
.line-6 a {
  margin-top: 9px;
  color: #54575a;
  font-size: 18px;
  text-decoration: underline;
}
.line-7 {
  margin-top: 30px;
}
.line-7 h2 {
  margin: 0;
  font-size: 18px;
}
/* 
.line-9 {
  display: flex;
  margin-top: 5px;
}
.padre-telefono-numero {
  background-color: #fafafa;
  color: white;
  font-weight: 600;
  border-radius: 26px;
  height: 78px;

  align-items: center;

  position: relative;
  margin-right: 9px;

  display: flex;
  width: 100%;
  border-color: rgba(189, 189, 189, 0.734);
  border-width: 1px;
  border-style: solid;
}
.padre-whapp-numero svg {
  margin-left: 18px;
  fill: #7300e0;
}
.padre-whapp-numero a {
  margin-top: 6px;
  margin-left: 19px;
  text-decoration: none;
  color: #85858d;
} */

/* lineaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 9 */
.line-8 {
  display: flex;
  margin-top: 5px;
}
/* .padre-whapp-numero {
  background-color: #fafafa;
  color: white;
  font-weight: 600;
  border-radius: 26px;
  height: 78px;

  align-items: center;

  position: relative;
  margin-right: 9px;

  display: flex;
  width: 100%;
  border-color: rgba(189, 189, 189, 0.734);
  border-width: 1px;
  border-style: solid;
}
.padre-telefono-numero svg {
  margin-left: 18px;
  fill: #7300e0;
}
.padre-telefono-numero a {
  margin-top: 6px;
  margin-left: 19px;
  text-decoration: none;
} */

/* detailssssssssssssssss */
.line-9 {
  display: flex;
  margin-top: 10px;
}
.line-9 a {
  color: #54575a;
  font-size: 15px;
}
.padre-telefono-numero {
  background-color: #fafafa;
  color: white;
  font-weight: 600;
  border-radius: 26px;
  height: 78px;

  align-items: center;

  position: relative;
  margin-right: 22px;

  display: flex;
  width: 100%;
}
.padre-whapp-numero svg {
  margin-left: 18px;
  fill: #7300e0;
}
.padre-whapp-numero a {
  /* margin-top: 6px; */
  margin-left: 15px;
  /* text-decoration: none; */
}

/* lineaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 9 */
.line-8 {
  display: flex;
  margin-top: 7px;
}
.line-8 a {
  color: #85858d;
  font-size: 15px;
}
.padre-whapp-numero {
  background-color: #fafafa;
  color: white;
  font-weight: 600;
  border-radius: 26px;
  height: 78px;

  align-items: center;

  position: relative;
  margin-right: -11px;

  display: flex;
  width: 100%;
  border-color: rgba(189, 189, 189, 0.734);
  border-width: 1px;
  border-style: solid;
}
.text-decoration-underline {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}

.padre-whapp-numero .elegir {
  color: black;
}

.padre-telefono-numero svg {
  margin-left: 13px;
  fill: #7300e0;
}
.padre-telefono-numero a {
  /* margin-top: 6px; */
  margin-left: 14px;

  color: #85858d;
}
.margin-top {
  margin-top: 10px;
}
.padre-telefono-numero .elegir {
  color: black;
}
.elegir {
  text-decoration: none;
  margin-top: 10px;
}
.padre-telefono-numero {
  border-color: rgba(189, 189, 189, 0.734);
  border-width: 1px;
  border-style: solid;
  margin-right: -11 px;
}
/* detailssssssssssssssss */

.details {
  background-color: orange;
}

.color-caract {
  background-color: #f5f5ff;

  font-weight: 600;
  border-radius: 10px;
  height: 66px;
  align-items: center;

  position: relative;
  margin-right: 22px;

  display: flex;
  width: 100%;
}
.color-caract h2 {
  margin-left: 22px;
}

.color-peso {
  background-color: #f5f5ff;

  font-weight: 600;
  border-radius: 10px;
  height: 47px;
  align-items: center;

  position: relative;
  margin-right: 22px;

  display: flex;
  width: 100%;
}

.color-peso h2 {
  margin-left: 22px;
  margin-bottom: 0px 0px;
  display: block;
  padding: 0px 0px;
}

.two-part {
  /* background-color: red; */
  /* max-width: 1820px; */
}
.conteiner-grouptext {
  max-width: 1820px;
  margin: auto;
  /* display: flex; */
}
.two {
  color: #54575a;
}
.parrafo strong {
  font-weight: bold;
}
.backgr-white {
  background-color: #ffffff;
}
.alination {
  display: flex;
  width: 1775px;
}
.lines-1 {
  /* gap: 300px; */
  padding: 22px;
  width: 40%;
}
.lines-2 {
  /* gap: 300px; */
  padding: 22px;
  width: 100%;
}
.backgr-plom {
  background-color: #f7f7f7;
}
.title-two h1 {
  width: 1775px;
  text-align: center;
  font-family: Circular Pro Bold;
  font-style: normal;
  font-weight: 400;

  color: #4f4f4f;
  margin: 18px 0 10px;
}
.title-two {
  margin-top: 100px;
}
.title-two h2 {
  width: 1775px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: #f5f5ff;
  border: 1px solid #fafafa;
  box-shadow: 0 4px 4px rgb(58 57 57 / 5%);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  color: #7300e0;
}

/* Login del formulari de la pagina */
.container-register {
  /* background-color: red; */
  max-width: 1920px;

  margin: auto;
  padding-top: 181px;
}
.register-machine {
  background-color: #ffffff;
  /* height: 100%; */
  width: 507px;
  margin: auto;
  /* height: 584px; */

  padding: 50px 50px;
}
.font {
  background-color: #f4f5f7;
  height: 100vh;
}
.text-box {
  font-size: 18px;
  font-weight: 600;
  font-family: arial;
  margin-bottom: 30px;
}
.span-black {
  color: #000000;
}
.span-blue {
  color: #1f3bb3;
}
.sign h6 {
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  font-weight: 300 !important;
  color: #6c757d;
}
.inp-widht-register {
  padding: 15px 31px;
  border: 1px solid #dee2e6;
  width: 444px;
  margin-bottom: 24px;
}
.inp-widht-register-2 {
  padding: 15px 31px;
  border: 1px solid #dee2e6;
  width: 444px;
  margin-bottom: 36px;
}
.link-dashboard {
  background-color: #1f3bb3;
  padding: 16px 48px;
  line-height: 1.5;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-family: arial;
}
.inp-widht-register::placeholder {
  color: #adb5bd;
  font-size: 15px;
}
.inp-widht-register-2::placeholder {
  color: #adb5bd;
  font-size: 15px;
}
/* Elaboracion del menu ==> Dashboard */
/* 
.menu-dashboard {
  position: absolute;
  height: 100vh;
  width: 17em;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
  transition: 0.5s;
} */

.menu-dashboard {
  height: 100vh;
  left: 0;
  top: 0;
  /* z-index: 99; */
  padding-bottom: 50px;
  position: fixed;
  width: 270px;
  z-index: 999;
  overflow: hidden;
  overflow-y: auto;
  transition: 0.5s;
  background: #fff;
  /* box-shadow: 0 0 40px #eff1f7; */
}
.grouping-sectors {
  background-color: #eff1f7;
  /* padding-left: 270px; */
  width: 100%;
  padding-top: 0 !important;
  transition: 0.5s;
  position: relative;
  min-height: 100vh;
  padding-bottom: 90px;
  overflow: hidden;
}
.logdasboard {
  width: 270px;
  height: 180px;
  margin-top: -16px;
}

main {
  display: flex;
}
.admin-menu {
  background-color: #ffffff;
  width: 270px;
  height: 100vh;
}
.wrapper-logo {
  height: 130px;
  text-align: center;
}
.wrapper-logo img {
  width: 150px;
  padding-top: 63px;
}
.wrapper-menu {
  background-color: #8ae000;
  width: calc(100% - 270px);
}
.wrapper-menu {
  /* background-color: red; */
  padding-top: 55px;
}
.wrapper-menu ul,
.wrapper-menu ul li {
  display: block;
  margin: 0;
  padding: 0;
}
.wrapper-menu ul li.menu-title span {
  color: #2daab8;
  font-size: 20px;
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  padding-top: 0;
  padding-bottom: 0;
}

.wrapper-menu ul li span {
  padding-left: 30px;
}

.wrapper-menu ul li a {
  position: relative;
  display: flex;
  text-decoration: none;
  color: #676b84;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: poppins, sans-serif;
  align-items: center;
  margin-top: 1px;
}

.wrapper-menu ul li a::after {
  position: absolute;
  right: 36px;
  height: 24px;
  width: 24px;
  content: "";
  background: url(http://localhost:3000/icons/imgdash/1.png);
}
.wrapper-menu ul li a img {
  width: 19px;
  padding-right: 21px;
  display: block;
}
.left {
  /* background: rgb(135, 121, 121); */
  width: calc(100% - 270px);
  padding-left: 270px;
}
.seeker-header {
  width: 479px;
  padding: 20px 0px;
  margin: 37px 0px;
  margin-left: 19px;
  border-radius: 30px;
  border-bottom: 1px solid #f4f7fc;
  border: 0;
}
.header-dash {
  background-color: #ffffff;
}
.seeker-header::placeholder {
  background-color: #f5f7fd;
  padding: 20px 0px;
  font-size: 16px;
  font-family: poppins, sans-serif;
  padding-left: 81px;
  color: #88969b;
}

.finder-header {
  background: 0 0;
  border: none;
  margin: 0;
  position: relative;
  right: 446px;
  top: 3px;
}
.circular--square {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  float: right;
  top: 32px;
  right: 10px;

  position: relative;
}
/* Tabla de productos dinosaurios */
.table-name {
  font-family: rajdhani, sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: #222;
  margin: 0;
  margin-top: 3px;
}
.finder-toysdino {
  display: flex;
  margin-left: 31px;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
}
.dino-table-seeker {
  display: block;
  height: 38px;
  border: 0;
  box-shadow: none;
  width: 320px;
  border: 1px solid #2daab8;
  border-radius: 5px;
  padding: 0px 54px;
}

.dino-table-seeker:hover {
  background-color: #ffff;
  color: #ffffff;
  border: 1px solid #2daab8;
}
.scroll-left {
  display: flex;
}

.ti-searc::before {
  content: "\e610";
}
.ti-searc {
  font-size: 12px;
  color: #2daab8;
}
.search-dinos {
  border: 0;
  position: absolute;
  background: 0 0;
  padding-top: 11px;
  padding-left: 19px;
}

.orden-search {
  display: flex;
  gap: 8px;
}
.dino-table-seeker::placeholder {
  padding-left: 0px;
  color: #7e7172;
  font-family: poppins, sans-serif;
  font-size: 12px;
}

.search-dinos::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  background: #2daab8;
  bottom: 0;
  right: 0px;
  left: 41px;
  top: 8px;
  color: #9b8c88;
  font-size: 18px;
  font-family: poppins, sans-serif;
}
.button-search-dino {
  padding: 11px 23px;
  background-color: #2daab8;
  border: 1px solid #2daab8;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-size: 13px;
  font-family: poppins, sans-serif;
  font-weight: 500;
  line-height: 16px;
  margin-right: 21px;
}
.button-search-dino:hover {
  background-color: #ffff;
  color: #2daab8;
  border: 1px solid #000000;
}
/* tabla de dinosaurio */

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customers td,
.customers th {
  border-bottom: 1px solid #ddd;
  padding: 23px 0;
}

/* .customers tr:nth-child(even) {
  background-color: #f2f2f2;
} */

/* .customers tr:hover {
  background-color: #ddd;
} */
.customers th {
  padding-top: 12px;
  text-align: left;
  background-color: #2daab8;
  color: white;
  padding: 16px 0px 16px 28px;
  font-size: 13px;
}

.customers th:nth-child(1) {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.customers th:nth-child(8) {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.customers tr td {
  color: #828bb2;
  padding-left: 25px;
  font-size: 14px;
  /* text-align: center; */
}
.customers tr td span {
  color: black;
}
.table-box {
  background-color: #ffff;
  padding-top: 21px;
  margin: 25px 21px 0px 30px;
  border-radius: 10px;
}
.information-toys a {
  display: inline-block;
  padding: 2px 15px;

  font-weight: 300;
  color: #fff !important;
  background: #05d34e;
  border-radius: 30px;

  text-align: center;
  text-decoration: none;
}

.edit-record {
  margin-left: 70px;
  background-color: #05d34e;
}
.editing {
  background-color: red;
  margin: 25px 21px 0px 30px;
}
